# Python基础

In [49]:
# 列表推导式与条件赋值

def my_func(x):
  return 2 * x

for i in range(5):
  print(my_func(i))
  
# 进行写法上的简化

[my_func(i) for i in range(5)]

# 多层嵌套

[[my_func(i + j) for i in range(5)] for j in range(5)]

#  if 选择的条件赋值

a =2

value = 'cat' if a > 1 else 'dog'

value

# 截断列表中超过5的元素，即超过5的用5代替，小于5的保留原来的值
L = [1, 2, 3, 4, 5, 6, 7]

[value if value < 5 else 5 for value in L]


# 匿名函数与map方法

[(lambda x, y: x + y)(i, L[i + 1 if i + 1 < len(L) else i]) for i in range(len(L))]


# map 函数

list(map(lambda x: x + 1, [1, 2, 3, 4, 5]))

# zip对象与enumerate方法

L1, L2, L3 = list('123'), list('456'), list('789')


[a + b + c for a, b, c in zip(map(int, L1), map(int, L2), map(int, L3))]


tuple(zip(L1, L2, L3))


L = [1, 2, 3, 4, 5, 6, 7]

for i, value in enumerate(L):
    print(i, value)
    
for index, value in zip(range(len(L)), L):
  print(index, value)
  
dict(zip(L1, L2))

#解压操作

z = zip(L1, L2)

list(zip(*z))

0
2
4
6
8
0 1
1 2
2 3
3 4
4 5
5 6
6 7
0 1
1 2
2 3
3 4
4 5
5 6
6 7

[('1', '2', '3'), ('4', '5', '6')]

## Numpy基础

### 传入元组表示各维度大小

### 3*3的单位矩阵

### 偏移主对角线1个单位的伪单位矩阵

### 元组传入大小，10表示填充数值

### 每行填入相同的列表

### 随机矩阵

### 均匀分布

### 标准正态分布

### 一元正态分布

### 生成随机整数的最小值最大值（不包含）和维度大小

### 给定的列表中，以一定概率和方式抽取结果

### 打散原列表

In [153]:
import numpy as np

np.random.seed(0)
np.random.rand(2)

np.random.uniform(1, 10, 3)

np.random.randn(3)

np.random.normal(3, 2.5, 3)

array([1.73530865, 9.36300195, 5.70202978])

## np数组的变形与合并

### 转置： T
### 合并操作： r_, c_
### 维度变换： reshape, 按照行读取和填充, 按照列读取和填充
### n*1 大小的数组转为1维数组
### np数组的切片与索引
### 对应的维度上使用布尔索引
### where  指定满足条件与不满足条件位置对应的填充值
### any 指当序列至少 存在一个 True 或非零元素时返回 True ，否则返回 False
### all 指当序列元素 全为 True 或非零元素时返回 True ，否则返回 False
### cumprod, cumsum, diff 
### 统计函数 max, min, mean, median, std, var, sum, quantile 进行某一个维度下的统计特征计算
### 标量和数组的操作
### 二维数组之间的操作

In [388]:
x = [1, 2, 7, 5, 6, 7, 8]

a = np.nonzero(np.r_[1,np.diff(x)!=1,1])

np.r_[1,np.diff(x)!=1,1]

array([1, 0, 1, 1, 0, 0, 0, 1], dtype=int32)

In [396]:
M1 = np.random.rand(2,3)

M2 = np.random.rand(3,4)

[[[M1[i][k] * M2[k][j] for k in range(M1.shape[1])] for j in range(M2.shape[1])] for i in range(M1.shape[0])]

[[[0.6978592832451251, 0.16845150903334025, 0.0446270540702078],
  [0.09054559546816984, 0.06277766950799274, 0.09489401705194553],
  [0.01927233334676638, 0.2112513409115166, 0.02196084068638079],
  [0.6875206752807017, 0.20202234046583928, 0.07671219365889065]],
 [[0.1835856721983336, 0.2616814216661793, 0.12090974201714576],
  [0.023819807814727482, 0.09752212906854806, 0.2570998995961272],
  [0.005069968054080739, 0.32816892846992035, 0.05949932473007569],
  [0.1808658971114168, 0.31383211444527037, 0.20783920736228434]]]

### 文件的读取和写入
### Series
### DataFrame
### 汇总函数 head, tail
### 特征统计函数 sum, mean, median, var, std, max
### 唯一值函数 unique 和 nunique 
### 替换函数 replace 
### 排序函数 ort_values 和 sort_index
### rolling 对象的默认窗口方向都是向前的，某些情况下用户需要向后的窗口，例如对1,2,3设定向后窗口为2的 sum 操作，结果为3,5,NaN，此时应该如何实现向后的滑窗操作？
### cummax, cumsum, cumprod 函数是典型的类扩张窗口函数，请使用 expanding 对象依次实现它们。

In [401]:
import pandas as pd

df_csv = pd.read_csv('data/learn_pandas.csv') 

df_csv

    School      Grade            Name  ... Test_Number   Test_Date  Time_Record
0        A   Freshman    Gaopeng Yang  ...           1   2019/10/5      0:04:34
1        B   Freshman  Changqiang You  ...           1    2019/9/4      0:04:20
2        A     Senior         Mei Sun  ...           2   2019/9/12      0:05:22
3        C  Sophomore    Xiaojuan Sun  ...           2    2020/1/3      0:04:08
4        C  Sophomore     Gaojuan You  ...           2   2019/11/6      0:05:22
..     ...        ...             ...  ...         ...         ...          ...
195      C     Junior    Xiaojuan Sun  ...           2  2019/10/17      0:04:31
196      D     Senior         Li Zhao  ...           3   2019/9/22      0:04:03
197      A     Senior  Chengqiang Chu  ...           1    2020/1/5      0:04:48
198      A     Senior   Chengmei Shen  ...           2    2020/1/7      0:04:58
199      D  Sophomore     Chunpeng Lv  ...           1   2019/11/6      0:05:05

[200 rows x 10 columns]

In [418]:
# Series

import pandas as pd

data = pd.Series(
  data = [100, 'a', { 'dict': 5 }],
  index=pd.Index(['id1', 20, 'third'], name='idx'),
  dtype="object",
  name="my_series"
)

data.values

data.index

data.dtype

data.name

data.shape

data['third']

0            100
1              a
2    {'dict': 5}
Name: my_series, dtype: object

In [469]:
# DataFrame

data = [[1, 'a', 1.2], [2, 'b', 2.2], [3, 'c', 3.2]]

df = pd.DataFrame(
  data, 
  index=["row_%d"%i for i in range(3)],
  columns=["col_%d"%i for i in range(3)]
)

print(df)

[[r for r in df[t]] for t in df]

       col_0 col_1  col_2
row_0      1     a    1.2
row_1      2     b    2.2
row_2      3     c    3.2

[[1, 2, 3], ['a', 'b', 'c'], [1.2, 2.2, 3.2]]

In [14]:
import pandas as pd
df = pd.read_csv('data/learn_pandas.csv')

df = df.head(7)

print(df)

df[['School']]

  School      Grade            Name  Gender  Height  Weight Transfer  \
0      A   Freshman    Gaopeng Yang  Female   158.9    46.0        N
1      B   Freshman  Changqiang You    Male   166.5    70.0        N
2      A     Senior         Mei Sun    Male   188.9    89.0        N
3      C  Sophomore    Xiaojuan Sun  Female     NaN    41.0        N
4      C  Sophomore     Gaojuan You    Male   174.0    74.0        N
5      D   Freshman     Xiaoli Qian  Female   158.0    51.0        N
6      A   Freshman       Qiang Chu  Female   162.5    52.0        N

   Test_Number   Test_Date Time_Record
0            1   2019/10/5     0:04:34
1            1    2019/9/4     0:04:20
2            2   2019/9/12     0:05:22
3            2    2020/1/3     0:04:08
4            2   2019/11/6     0:05:22
5            1  2019/10/31     0:03:47
6            1  2019/12/12     0:03:53

  School
0      A
1      B
2      A
3      C
4      C
5      D
6      A

In [607]:
df = pd.read_csv('data/learn_pandas.csv')
df_demo = df[['Grade', 'Name', 'Height',
              'Weight']].set_index(['Grade','Name']).head()

df_demo.sort_values('Height', ascending=True).head()



df_demo = df[['Height', 'Weight']].head()


t = df_demo.apply(lambda x: x.mean())

print(t)

def my_mean (x):
  return x.mean()

Height    172.075
Weight     64.000
dtype: float64

In [621]:
# 滑窗对象

s = pd.Series([1,2,3,4,5])

# roller = s.rolling(window = 3)

roller.sum()

s = pd.Series([1, 3, 6, 10])

s.expanding().sum()

# [1, 4, 10, 20]

0     1.0
1     4.0
2    10.0
3    20.0
dtype: float64

In [653]:

index = pd.Series(['a', 'b'], name='my_index')

my_table = pd.DataFrame({"A":[1,2]}, index=index)
my_table.to_csv("my_csv.csv")

pf = pd.read_csv("my_csv.csv")

pf

  my_index  A
0        a  1
1        b  2