## 1 使用List构造Series

## 2 使用Dict构造Series

## 3 Series转换成List

## 4 将Series转换成DataFrame

## 5 借助 Numpy 创建Series

## 6 转换Series的数据类型

## 7 给Series添加新的元素

## 8 用reset index将Series转换成df

## 9 使用字典创建DataFrame

## 10 给DataFrame设置索引列

## 11 生成一个月份所有日期

## 12 生成一年的所有周一日期

## 13 生成一天的所有小时

## 14 用日期生成DataFrame

## 15 使用日期和随机数生成DataFrame

## 16 打印DataFrame的前后数据行

## 17 df的信息和基本数据统计

## 18 统计数据列的值出现次数

## 19 df前N行存入CSV文件

## 20 加载CSV文件到df

## 21 加载股票数据CSV文件

## 22 股票的信息和基本数据统计

## 23 更改索引列为普通数据列

## 24 给股票数据新增年份和月份

## 25 计算股票每年份的平均收盘价

## 26 股票数据找出收盘价最低行

## 27 筛选出部分数据列

## 28 设置日期列为索引列

## 29 删除不需要的数据列

## 30 对列进行重命名

## 31 加载电信客户流失数据集

## 32 计算每一数据列的缺失值

## 33 正确设置数据列的类型

## 34 将类别字段转换成cat类型

## 35 对cat类型字段数据统计

## 36 churn字段的数据分布

## 37 多维度查看月费字段统计

## 38 Churn字段的数据映射

## 39 查看字段相关性矩阵

## 40 从数据集中采样数据行

## 41 合并两个Series到DF

## 42 多条件筛选DataFrame

## 43 根据现有列计算新列

## 44 根据现有列截断列

## 45 数据列最大和最小的5个数

## 46 计算数字的累积加和值

## 47 计算一列数字的中位数

## 48 使用query筛选数据

## 49 将df的前几行生成一个字典

## 50 将df的前几行生成html

## 51 构造随机数df并筛选

## 52 使用两列进行组合筛选

## 53 for循环遍历dataframe

## 54 精确设置df的单元格的值

## 55 移除包含空值的行

## 56 重新设置索引列

## 57 统计数据列的空值个数

## 58 使用数字填充缺失值

## 59 修改df列的顺序

## 60 删除df的一列或多列

## 61 二手车-数据介绍和加载

## 62 二手车-输出df标题名称列表

## 63 两只股票-读取股票数据CSV

## 64 两只股票-批量给列名加前缀

## 65 两只股票-按日期关联两个df

## 66 两只股票-筛选所需要的列

## 67 两只股票-计算每只股票当日涨跌幅

## 68 两只股票-计算同涨同跌的信号

## 69 两只股票-计算同时涨跌的比例

In [9]:
import pandas as pd

# 使用List构造Series

pd.Series([1, 2, 3, 4, 5], list('abcde'), 'float', "test")

f = pd.Series([[1, 2], [3, 4]])

0    [1, 2]
1    [3, 4]
dtype: object

In [27]:
# 使用Dict构造Series

info = {
  'name':'linger',
  'age': 111,
  'sex': 0,
  'height': 180,
}

user = pd.Series(info)

f = pd.Series([[1, 2], [3, 4]])
f.ndim

1

In [29]:
import pandas as pd

data = pd.Series([1, 2, 3, 4])

data.to_list()

[1, 2, 3, 4]

In [83]:
import pandas as pd
import numpy as py


data = pd.Series([1, 2, 3, 4], name='foo',
   index=pd.Index(['a', 'b', 'c', 'd'], name='idx'))


data.reset_index()
  


print(type(data))

print(data)

<class 'pandas.core.series.Series'>
idx
a    1
b    2
c    3
d    4
Name: foo, dtype: int64

In [105]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz']),
          np.array(['one', 'two', 'one', 'two'])]
s2 = pd.Series(
    range(4), name='foo',
    index=pd.MultiIndex.from_arrays(arrays,
                                    names=['a', 'b']))

s2 = s2.reset_index(level='a')

type(s2)

pandas.core.frame.DataFrame

In [115]:
# 借助 Numpy 创建Series

import numpy as np
import pandas as pd


pd.Series(np.arange(2, 10, 2), index = np.arange(5, 13, 2))

5     2
7     4
9     6
11    8
dtype: int32

In [135]:
# 转换Series的数据类型

data = pd.Series(np.arange(2, 10, 2, dtype='float'))

data.astype(int)

0    2
1    4
2    6
3    8
dtype: int32

In [137]:

## 7 给Series添加新的元素

data = pd.Series(np.arange(2, 10, 2))

data.append(pd.Series(np.arange(11)))

## 8 用 reset index将Series转换成df

data.reset_index()

C:\Users\rongts\AppData\Local\Temp\ipykernel_11208\4008632336.py:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data.append(pd.Series(np.arange(11)))

   index  0
0      0  2
1      1  4
2      2  6
3      3  8

In [ ]:
## 9 使用字典创建DataFrame

## 10 给DataFrame设置索引列

## 11 生成一个月份所有日期

## 12 生成一年的所有周一日期

## 13 生成一天的所有小时

## 14 用日期生成DataFrame

## 15 使用日期和随机数生成DataFrame