In [77]:
import pandas as pd
import numpy as np

## 1 使用List构造Series

data = pd.Series([1, 2, 3, 4, 5])

## 2 使用Dict构造Series
dict = pd.Series({ '语文': 98, '数学': 99, '英语': 100 })
dict

## 3 Series转换成List
dict.to_list()



## 5 借助 Numpy 创建Series

data2 = pd.Series(np.arange(10), dtype="float")

data2

## 6 转换Series的数据类型

data2.map(int)

data2.astype(int)

## 7 给Series添加新的元素

data2.append(pd.Series(['a', 'b', 'c']))

## 8 用reset index将Series转换成df

data2.reset_index()


## 4 将Series转换成DataFrame

df = pd.DataFrame(
 ['add', 'bas', 'cwq', 'dxx', 'ewqq'], 
  columns=['A'],
  index=['a', 'b', 'c', 'd', 'e']
)

df

C:\Users\rongts\AppData\Local\Temp\ipykernel_13376\2621603830.py:31: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data2.append(pd.Series(['a', 'b', 'c']))

      A
a   add
b   bas
c   cwq
d   dxx
e  ewqq

In [191]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
  pd.date_range('2023-10-1', '2023-11-1', closed='left'),
  columns=["days"]
)


df['dayofyear'] = df["days"].dt.dayofyear

df

df.set_index('days', inplace=False)

C:\Users\rongts\AppData\Local\Temp\ipykernel_13376\4270192611.py:5: FutureWarning: Argument `closed` is deprecated in favor of `inclusive`.
  pd.date_range('2023-10-1', '2023-11-1', closed='left'),

            dayofyear
days
2023-10-01        274
2023-10-02        275
2023-10-03        276
2023-10-04        277
2023-10-05        278
2023-10-06        279
2023-10-07        280
2023-10-08        281
2023-10-09        282
2023-10-10        283
2023-10-11        284
2023-10-12        285
2023-10-13        286
2023-10-14        287
2023-10-15        288
2023-10-16        289
2023-10-17        290
2023-10-18        291
2023-10-19        292
2023-10-20        293
2023-10-21        294
2023-10-22        295
2023-10-23        296
2023-10-24        297
2023-10-25        298
2023-10-26        299
2023-10-27        300
2023-10-28        301
2023-10-29        302
2023-10-30        303
2023-10-31        304