## <font color='red'>pandas如何读取MySQL数据？</font>

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# 建立数据库连接
engine = create_engine('mysql+pymysql://root:root@localhost/data?charset=UTF8MB4')

# 要执行的 SQL 查询
query = "SELECT * FROM order_info_utf"

# 使用 Pandas 读取数据
df = pd.read_sql(query, con=engine)

# 打印读取到的数据
display(df)

# 关闭数据库连接
engine.dispose()

       orderid  userid isPaid price         paidTime
0            1   11211    已支付   833    2016/3/1 0:04
1            2   11211    已支付   487    2016/3/1 0:03
2            3   11211    未支付   794             None
3            4   74553    已支付   737    2016/3/1 0:02
4            5   37799    已支付   647    2016/3/1 0:01
...        ...     ...    ...   ...              ...
539409  539421   11211    已支付   472  2016/4/30 23:57
539410  539422  101208    已支付   767    2016/5/1 0:05
539411  539423   11211    已支付  1036    2016/5/1 0:01
539412  539424   11211    未支付   640             None
539413  539425   11211    已支付   801  2016/4/30 23:58

[539414 rows x 5 columns]

## <font color='red'>pandas如何读取海量MySQL数据？</font>

In [5]:
import pandas as pd
from sqlalchemy import create_engine
# 建立数据库连接
engine = create_engine('mysql+pymysql://root:root@localhost/data')
# 要执行的 SQL 查询
query = "SELECT * FROM order_info_utf"
# 使用 Pandas 读取数据
chunks = pd.read_sql(query, con=engine,chunksize = 100000)
# 逐个处理每个分块数据
for chunk in chunks:
    # 进行你的处理
    print(chunk.shape)
# 关闭数据库连接
engine.dispose()

(100000, 5)
(100000, 5)
(100000, 5)
(100000, 5)
(100000, 5)
(39414, 5)

## <font color='red'>pandas如何向MySQL存数据？</font>

### 数据保存

In [19]:
import pandas as pd
from sqlalchemy import create_engine

# 数据示例，包含中文字符
data = {'ID': [1, 2, 3], 'Name': ['张三', '李四', '王五']}

# 创建 DataFrame
df = pd.DataFrame(data)

# 建立数据库连接
engine = create_engine('mysql+pymysql://root:root@localhost/data')

# 将 DataFrame 写入数据库表
table_name = 'names'
df.to_sql(table_name, con=engine, if_exists='replace', index=False)

# 关闭数据库连接
engine.dispose()

### 批量数据保存

In [20]:
import pandas as pd
from sqlalchemy import create_engine
# 建立数据库连接
engine = create_engine('mysql+pymysql://root:root@localhost/data')
# 要执行的 SQL 查询
query = "SELECT * FROM order_info_utf"
# 使用 Pandas 读取数据
chunks = pd.read_sql(query, con=engine,chunksize = 100000)

# 逐个处理每个分块数据
table_name = 'orders'
for chunk in chunks:
    # 进行你的处理
    cond = chunk.isPaid == '已支付'
    res = chunk[cond]
    res.to_sql(table_name,con = engine,if_exists='append',index = False)
    print(f'保存成功！处理前数据量：{len(chunk)}，处理后数据量是：{len(res)}')
# 关闭数据库连接
engine.dispose()

保存成功！处理前数据量：100000，处理后数据量是：85177
保存成功！处理前数据量：100000，处理后数据量是：85188
保存成功！处理前数据量：100000，处理后数据量是：85328
保存成功！处理前数据量：100000，处理后数据量是：86389
保存成功！处理前数据量：100000，处理后数据量是：86412
保存成功！处理前数据量：39414，处理后数据量是：33311

## <font color='red'>什么是时间戳？</font>

In [8]:
import pandas as pd

# 1. 从字符串创建
ts1 = pd.Timestamp('2023-08-15')
print(ts1,type(ts1))

2023-08-15 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [3]:
# 2. 从datetime对象创建
import datetime
dt = datetime.datetime(2023, 8, 14, 12, 30)
ts2 = pd.Timestamp(dt)
print(ts2)

2023-08-14 12:30:00

In [9]:
# 3. 使用常见的日期格式
ts3 = pd.Timestamp('08/14/2023')
print(ts3)

# 提取年、月、日
print("Year:", ts1.year)
print("Month:", ts1.month)
print("Day:", ts1.day)
print(ts1.day_of_year,ts1.days_in_month,ts1.day_of_week)

2023-08-14 00:00:00
Year: 2023
Month: 8
Day: 15
227 31 1

## <font color='red'>如何创建时间戳索引？</font>

In [49]:
import pandas as pd
import numpy as np

# 创建一个连续的日期范围，长度为100天，从2023-01-01开始
date_range = pd.date_range(start="2023-01-01", periods=100,freq='BMS')

# 为简化，我们只是生成随机数据作为时间序列数据
data = np.random.randn(100)

# 创建一个使用时间戳为索引的Series
time_series = pd.Series(data, index=date_range)

time_series

2023-01-02   -0.024100
2023-02-01   -0.308865
2023-03-01   -0.189204
2023-04-03    0.755839
2023-05-01    1.003684
                ...
2030-12-02    0.324538
2031-01-01    1.200034
2031-02-03   -0.513885
2031-03-03    1.968206
2031-04-01    1.722125
Freq: BMS, Length: 100, dtype: float64

In [35]:
time_series.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10', '2023-02-11', '2023-02-12', '2023-02-13',
               '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17',
               '2023-02-18', '2023-02-19', '2023-02-20', '2023-02-21',
               '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-25',
               '2023-02-26', '2023-02-27', '2023-02-28', '2023-03-01',
               '2023-03-02', '2023-03-03', '2023-03-04', '2023-03-05',
               '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09',
               '2023-03-10', '2023-03-11', '2023-03-12', '2023-03-13',
               '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17',
               '2023-03-18', '2023-03-19', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-25',
               '2023-03-26', '2023-03-27', '2023-03-28', '2023-03-29',
               '2023-03-30', '2023-03-31', '2023-04-01', '2023-04-02',
               '2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-08', '2023-04-09', '2023-04-10'],
              dtype='datetime64[ns]', freq='D')

## <font color='red'>字符串如何转为时间戳？</font>

In [55]:
import pandas as pd

# 单一字符串转换
timestamp = pd.to_datetime("2021-08-10")
print(timestamp)

2021-08-10 00:00:00

In [56]:
# 字符串列表转换
s = pd.Series(["2021-08-10", "2021-08-11", "2021-08-12"])
timestamps = pd.to_datetime(s)
display(s,timestamps)

0    2021-08-10
1    2021-08-11
2    2021-08-12
dtype: object

0   2021-08-10
1   2021-08-11
2   2021-08-12
dtype: datetime64[ns]

In [61]:
timestamps.dt.month

0    8
1    8
2    8
dtype: int64

In [63]:
# 使用dayfirst参数，解析为日/月/年格式
timestamp_dayfirst = pd.to_datetime("10/8/2021", dayfirst=False)
print(timestamp_dayfirst)

2021-10-08 00:00:00

In [68]:
# 使用format参数指定输入格式
timestamp_format = pd.to_datetime("2021*Aug*10", format='%Y*%b*%d')
print(timestamp_format)

2021-08-10 00:00:00

In [71]:
# 使用errors参数处理无法解析的日期
s2 = pd.Series(["2021-08-10","invalid_date", "2021-08-11", "2021-08-12"])
error_handling = pd.to_datetime(s2, errors='coerce')
display(s2,error_handling)

0      2021-08-10
1    invalid_date
2      2021-08-11
3      2021-08-12
dtype: object

0   2021-08-10
1          NaT
2   2021-08-11
3   2021-08-12
dtype: datetime64[ns]

## <font color='red'>如何使用时间戳进行数据索引？</font>

In [82]:
import pandas as pd
import numpy as np
tm = pd.date_range("2020-8-24", periods=200, freq="D")
df = pd.DataFrame(np.random.randint(0,151,size = (200,3)),index = tm,columns=['Python','Math','Chinese'])
df

            Python  Math  Chinese
2020-08-24      28    45      134
2020-08-25      31   140       53
2020-08-26      72   123       73
2020-08-27      33    12       82
2020-08-28     106   128       77
...            ...   ...      ...
2021-03-07      73    97       40
2021-03-08      58    88       81
2021-03-09     126     9      119
2021-03-10      12     4      133
2021-03-11     101    40      149

[200 rows x 3 columns]

In [83]:
# str类型索引
df.loc['2020-08-30'] # 日期访问数据

Python      36
Math       102
Chinese     62
Name: 2020-08-30 00:00:00, dtype: int32

In [86]:
df.loc['2020/08-24':'2020-09/3'] # 日期切片

            Python  Math  Chinese
2020-08-24      28    45      134
2020-08-25      31   140       53
2020-08-26      72   123       73
2020-08-27      33    12       82
2020-08-28     106   128       77
2020-08-29     116   108       11
2020-08-30      36   102       62
2020-08-31      84    71      108
2020-09-01      85   147       89
2020-09-02     112   146       79
2020-09-03      54    21        9

In [88]:
df.loc['2020-09'] # 传入年月

            Python  Math  Chinese
2020-09-01      85   147       89
2020-09-02     112   146       79
2020-09-03      54    21        9
2020-09-04      86    47      131
2020-09-05     123   107      133
2020-09-06      14   101       46
2020-09-07      57    34       34
2020-09-08     146    54       13
2020-09-09      62    70       76
2020-09-10     150   137        9
2020-09-11      15   118        0
2020-09-12     131    58      128
2020-09-13      85    37       30
2020-09-14     101    81       50
2020-09-15      46   125       93
2020-09-16     119   113       12
2020-09-17      69    51       84
2020-09-18     128   106        9
2020-09-19     149    46      110
2020-09-20      12   147      121
2020-09-21      16    55      100
2020-09-22      70    66      146
2020-09-23      24   134       49
2020-09-24     114    71       89
2020-09-25      91    51      119
2020-09-26     105   148      116
2020-09-27      26   116       49
2020-09-28      63   138       76
2020-09-29      33    78       50
2020-09-30      89    64      147

In [89]:
df.loc['2020'] # 传入年

            Python  Math  Chinese
2020-08-24      28    45      134
2020-08-25      31   140       53
2020-08-26      72   123       73
2020-08-27      33    12       82
2020-08-28     106   128       77
...            ...   ...      ...
2020-12-27      17    75       74
2020-12-28      63    15       47
2020-12-29     123    61       48
2020-12-30      79    77      107
2020-12-31      95    51      149

[130 rows x 3 columns]

In [91]:
# 时间戳索引
df.loc[pd.Timestamp('2020-08-30')]

Python      36
Math       102
Chinese     62
Name: 2020-08-30 00:00:00, dtype: int32

In [92]:
df.loc[pd.Timestamp('2020-08-24'):pd.Timestamp('2020-08-30')] # 切片

            Python  Math  Chinese
2020-08-24      28    45      134
2020-08-25      31   140       53
2020-08-26      72   123       73
2020-08-27      33    12       82
2020-08-28     106   128       77
2020-08-29     116   108       11
2020-08-30      36   102       62

In [97]:
df.loc[pd.date_range('2020-08-3',periods=3,freq='M')]

            Python  Math  Chinese
2020-08-31      84    71      108
2020-09-30      89    64      147
2020-10-31       5    32      139

In [99]:
df.loc[['2020-8-24','2020-9-3','2020-10-3']]

            Python  Math  Chinese
2020-08-24      28    45      134
2020-09-03      54    21        9
2020-10-03      20    31       23

## <font color='red'>如何实现时间戳移动与频率转换？</font>

In [17]:
import pandas as pd
import numpy as np
date_rng = pd.date_range(start='2020-01-01', periods=366, freq='D')
df = pd.DataFrame(np.random.randint(0, 100, size=(len(date_rng))),index = date_rng, columns=['date'])
display(df)

            date
2020-01-01    40
2020-01-02     1
2020-01-03    25
2020-01-04    25
2020-01-05    22
...          ...
2020-12-27    21
2020-12-28    11
2020-12-29    54
2020-12-30    73
2020-12-31    95

[366 rows x 1 columns]

### 时间戳的移动

In [18]:
# 时间戳移动
df.index = df.index.shift(-3,freq='D') # 向前移动日期
display(df)

            date
2019-12-29    40
2019-12-30     1
2019-12-31    25
2020-01-01    25
2020-01-02    22
...          ...
2020-12-24    21
2020-12-25    11
2020-12-26    54
2020-12-27    73
2020-12-28    95

[366 rows x 1 columns]

In [164]:
df.index = df.index.shift(1,freq='W') # 向后移动日期
display(df)

            date
2020-01-05    18
2020-01-05    37
2020-01-05    96
2020-01-05    37
2020-01-12    63
...          ...
2021-01-03    41
2021-01-03    86
2021-01-03    57
2021-01-03    92
2021-01-03    88

[366 rows x 1 columns]

In [165]:
df.head(20)

            date
2020-01-05    18
2020-01-05    37
2020-01-05    96
2020-01-05    37
2020-01-12    63
2020-01-12    21
2020-01-12    33
2020-01-12    46
2020-01-12    85
2020-01-12     9
2020-01-12    11
2020-01-19    81
2020-01-19    97
2020-01-19    76
2020-01-19    28
2020-01-19    21
2020-01-19    20
2020-01-19    30
2020-01-26    91
2020-01-26    65

In [167]:
df.index = df.index + pd.Timedelta(days = 14)
display(df)

            date
2020-01-15    85
2020-01-16    63
2020-01-17    73
2020-01-18    77
2020-01-19    73
...          ...
2021-01-10    44
2021-01-11    59
2021-01-12    16
2021-01-13    21
2021-01-14    45

[366 rows x 1 columns]

In [168]:
df.index = df.index.shift(-14,freq='D') # 向前移动日期
display(df)

            date
2020-01-01    85
2020-01-02    63
2020-01-03    73
2020-01-04    77
2020-01-05    73
...          ...
2020-12-27    44
2020-12-28    59
2020-12-29    16
2020-12-30    21
2020-12-31    45

[366 rows x 1 columns]

### 频率转换

In [169]:
df

            date
2020-01-01    85
2020-01-02    63
2020-01-03    73
2020-01-04    77
2020-01-05    73
...          ...
2020-12-27    44
2020-12-28    59
2020-12-29    16
2020-12-30    21
2020-12-31    45

[366 rows x 1 columns]

In [173]:
# 频率转变
df_week = df.asfreq('W-MON')
display(df_week)

            date
2020-01-06    93
2020-01-13    93
2020-01-20    40
2020-01-27    58
2020-02-03    77
2020-02-10    48
2020-02-17    30
2020-02-24    46
2020-03-02    27
2020-03-09    33
2020-03-16    13
2020-03-23     5
2020-03-30    17
2020-04-06    50
2020-04-13    43
2020-04-20    83
2020-04-27    56
2020-05-04     4
2020-05-11    95
2020-05-18    40
2020-05-25    28
2020-06-01    30
2020-06-08    21
2020-06-15    81
2020-06-22    89
2020-06-29    68
2020-07-06    36
2020-07-13    41
2020-07-20    21
2020-07-27    29
2020-08-03    83
2020-08-10    44
2020-08-17    37
2020-08-24     5
2020-08-31    57
2020-09-07    96
2020-09-14    16
2020-09-21    66
2020-09-28    52
2020-10-05    90
2020-10-12    94
2020-10-19    74
2020-10-26    47
2020-11-02    79
2020-11-09    66
2020-11-16    45
2020-11-23    80
2020-11-30    77
2020-12-07    14
2020-12-14    47
2020-12-21    48
2020-12-28    59

In [174]:
df_month = df.asfreq('MS')
display(df_month)

            date
2020-01-01    85
2020-02-01    49
2020-03-01    20
2020-04-01    96
2020-05-01    98
2020-06-01    30
2020-07-01    42
2020-08-01    13
2020-09-01    84
2020-10-01     1
2020-11-01    64
2020-12-01    64

In [177]:
df_season = df.asfreq('QS')
display(df_season)

            date
2020-01-01    85
2020-04-01    96
2020-07-01    42
2020-10-01     1

In [20]:
df.asfreq('12H').interpolate()

                     date
2019-12-29 00:00:00  40.0
2019-12-29 12:00:00  20.5
2019-12-30 00:00:00   1.0
2019-12-30 12:00:00  13.0
2019-12-31 00:00:00  25.0
...                   ...
2020-12-26 00:00:00  54.0
2020-12-26 12:00:00  63.5
2020-12-27 00:00:00  73.0
2020-12-27 12:00:00  84.0
2020-12-28 00:00:00  95.0

[731 rows x 1 columns]

## <font color='red'>如何实现时间戳数据取整？</font>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./时间取整.csv')
df

        Time
0   09:02:45
1   13:56:37
2   12:42:26
3   04:38:15
4   09:39:20
..       ...
95  18:18:34
96  20:50:02
97  14:36:43
98  05:12:01
99  02:31:51

[100 rows x 1 columns]

In [3]:
df.dtypes

Time    object
dtype: object

In [7]:
time2 = pd.to_datetime(df['Time']).round('15min').dt.time
df['15min取整'] = time2
df

        Time   15min取整
0   09:02:45  09:00:00
1   13:56:37  14:00:00
2   12:42:26  12:45:00
3   04:38:15  04:45:00
4   09:39:20  09:45:00
..       ...       ...
95  18:18:34  18:15:00
96  20:50:02  20:45:00
97  14:36:43  14:30:00
98  05:12:01  05:15:00
99  02:31:51  02:30:00

[100 rows x 2 columns]

## <font color='red'>什么是重采样？</font>

In [9]:
import pandas as pd
import numpy as np

# 创建一个示例时间序列数据
date_rng = pd.date_range(start='2023-01-01', end='2023-01-10', freq='D')
data = np.random.randn(len(date_rng))
ts = pd.Series(data, index=date_rng)

ts

2023-01-01   -1.839482
2023-01-02    0.707771
2023-01-03   -1.851066
2023-01-04    0.064931
2023-01-05   -1.898417
2023-01-06    0.425901
2023-01-07    1.876853
2023-01-08    0.101093
2023-01-09   -0.396455
2023-01-10   -0.426649
Freq: D, dtype: float64

In [10]:
# 降采样示例：将每日数据降采样为每周数据，计算每周数据的平均值
weekly_ts = ts.resample('W').mean()
weekly_ts

2023-01-01   -1.839482
2023-01-08   -0.081848
2023-01-15   -0.411552
Freq: W-SUN, dtype: float64

In [11]:
# 升采样示例：将每周数据升采样为每日数据，使用插值方法填充缺失值
daily_upsampled = weekly_ts.resample('D').asfreq()
daily_upsampled

2023-01-01   -1.839482
2023-01-02         NaN
2023-01-03         NaN
2023-01-04         NaN
2023-01-05         NaN
2023-01-06         NaN
2023-01-07         NaN
2023-01-08   -0.081848
2023-01-09         NaN
2023-01-10         NaN
2023-01-11         NaN
2023-01-12         NaN
2023-01-13         NaN
2023-01-14         NaN
2023-01-15   -0.411552
Freq: D, dtype: float64

In [12]:
# 使用不同的插值方法填充缺失值，例如：前向填充（向前填充上一个已知值）、后向填充（向后填充下一个已知值）、线性插值等。
daily_ffill = weekly_ts.resample('D').ffill()  # 前向填充
daily_ffill

2023-01-01   -1.839482
2023-01-02   -1.839482
2023-01-03   -1.839482
2023-01-04   -1.839482
2023-01-05   -1.839482
2023-01-06   -1.839482
2023-01-07   -1.839482
2023-01-08   -0.081848
2023-01-09   -0.081848
2023-01-10   -0.081848
2023-01-11   -0.081848
2023-01-12   -0.081848
2023-01-13   -0.081848
2023-01-14   -0.081848
2023-01-15   -0.411552
Freq: D, dtype: float64

In [13]:
daily_bfill = weekly_ts.resample('D').bfill()  # 后向填充
daily_bfill

2023-01-01   -1.839482
2023-01-02   -0.081848
2023-01-03   -0.081848
2023-01-04   -0.081848
2023-01-05   -0.081848
2023-01-06   -0.081848
2023-01-07   -0.081848
2023-01-08   -0.081848
2023-01-09   -0.411552
2023-01-10   -0.411552
2023-01-11   -0.411552
2023-01-12   -0.411552
2023-01-13   -0.411552
2023-01-14   -0.411552
2023-01-15   -0.411552
Freq: D, dtype: float64

In [15]:
weekly_ts

2023-01-01   -1.839482
2023-01-08   -0.081848
2023-01-15   -0.411552
Freq: W-SUN, dtype: float64

In [16]:
 weekly_ts.resample('D').asfreq()

2023-01-01   -1.839482
2023-01-02         NaN
2023-01-03         NaN
2023-01-04         NaN
2023-01-05         NaN
2023-01-06         NaN
2023-01-07         NaN
2023-01-08   -0.081848
2023-01-09         NaN
2023-01-10         NaN
2023-01-11         NaN
2023-01-12         NaN
2023-01-13         NaN
2023-01-14         NaN
2023-01-15   -0.411552
Freq: D, dtype: float64

In [14]:
daily_linear = weekly_ts.resample('D').interpolate(method='linear')  # 线性插值
daily_linear

2023-01-01   -1.839482
2023-01-02   -1.588391
2023-01-03   -1.337301
2023-01-04   -1.086210
2023-01-05   -0.835119
2023-01-06   -0.584029
2023-01-07   -0.332938
2023-01-08   -0.081848
2023-01-09   -0.128948
2023-01-10   -0.176049
2023-01-11   -0.223150
2023-01-12   -0.270250
2023-01-13   -0.317351
2023-01-14   -0.364452
2023-01-15   -0.411552
Freq: D, dtype: float64